extends layout

block content
  div#projects
    div#professional-projects
      h1.section-title Professional
      div.centerflex
        each project in projects.professional
          div
            a(href=project.url target="_blank")
              div.project-box
                h3=project.name
                p=project.description
    div#class-projets
      h1.section-title School
      div.center-flex
        each project in projects.school
          div
            a(href=project.url target="_blank")
              div.project-box
                h3=project.name
                p=project.description
